<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:if="${visitor}">
        <title th:text="${visitor} + ' , I hope you interested to hire me'" />
    </div>
    <div th:unless="${visitor}">
        <title th:text="'This is my CV'"></title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="'informasi dasar'" />
    <p th:text="'nama    : harlan haidi'" />
    <p th:text="'ttl     : indonesia, 31-1-1998'" />
    <p th:text="'alamat  : depok'" />

    <h1 th:text="'riwayat pendidikan'" />
    <p th:text="'universitas indonesia 2016 - sekarang'" />

    <h1 th:text="deskripsi" />
    <p th:text="'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
            a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic'"/>
</body>
</html>
